<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">


			<!-- ICONS
 			 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 			 <link rel="stylesheet" href="stylesheets/ionicons.min.css">
 			 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 			 <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">		
			 <style>
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 3;
    width: 90%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
		</head>
		<body>
			<a name="top"></a>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/#research">Research</a></li>
	        		<li><a href="/#teaching">Teaching</a></li>
		        	<li><a href="/#about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li> Get in touch: </li>
	        		<li><a class="icon" style="font-size:12px;" href="mailto:thomasbrochhagen@gmail.com" target="_top"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
				<li><a class="icon" style="font-size:12px;" href="https://www.linkedin.com/in/brochhagen" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
			        <li><a class="icon" style="font-size:12px;" href="https://scholar.google.nl/citations?user=UzxJ_XwAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a></li>
				<li><a class="icon" style="font-size:12px;" href="https://github.com/brochhagen" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>


			</ul>
			</footer>
		</body>
	</html>
